In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import matplotlib
from wordcloud import WordCloud
from pathlib import Path

In [2]:
#Step One - Load Data and Evaualte quality for use

In [3]:
# Load the full set of data
glassdoor_df=pd.read_csv('glassdoor.csv')
glassdoor_df

# Preview the salary data
glassdoor_df.head()

,benefits.benefitRatingDecimal,benefits.comments,benefits.highlights,benefits.numRatings,benefits.employerSummary,breadCrumbs,gaTrackerData.category,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,...,salary.currency.displayName,salary.currency.id,salary.currency.name,salary.currency.negativeTemplate,salary.currency.new,salary.currency.positiveTemplate,salary.currency.symbol,salary.lastSalaryDate,salary.salaries,wwfu
0,0.0,2801.0,2801.0,0,NaN,2801,-1,2183810,Modus Group,501-1000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2483.0,NaN
1,4.0,2802.0,2802.0,3,NaN,2802,-1,10416,Boehringer Ingelheim,10000--1,...,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-10-14T06:05:58,2484.0,NaN
2,0.0,2803.0,2803.0,0,NaN,2803,-1,1043373,Immobiliare.it,201-500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2485.0,NaN
3,0.0,2804.0,2804.0,0,NaN,2804,-1,2226886,Codup,1-50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2486.0,NaN
4,0.0,2805.0,2805.0,0,NaN,2805,-1,851555,Markelytics Solutions,201-500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2487.0,NaN

In [4]:
glassdoor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165290 entries, 0 to 165289
Columns: 163 entries, benefits.benefitRatingDecimal to wwfu
dtypes: bool(11), float64(35), int64(23), object(94)
memory usage: 193.4+ MB

In [5]:
 # Retrieve DataFrame data types
glassdoor_df.dtypes

benefits.benefitRatingDecimal       float64
benefits.comments                   float64
benefits.highlights                 float64
benefits.numRatings                   int64
benefits.employerSummary             object
                                     ...
salary.currency.positiveTemplate     object
salary.currency.symbol               object
salary.lastSalaryDate                object
salary.salaries                     float64
wwfu                                float64
Length: 163, dtype: object

In [6]:
# Identify Series count
glassdoor_df.count()

benefits.benefitRatingDecimal       165290
benefits.comments                   165289
benefits.highlights                 165289
benefits.numRatings                 165290
benefits.employerSummary              5749
                                     ...
salary.currency.positiveTemplate     76777
salary.currency.symbol               76777
salary.lastSalaryDate                76777
salary.salaries                     147149
wwfu                                 18741
Length: 163, dtype: int64

In [7]:
# Identify frequency values - employer name
glassdoor_df["gaTrackerData.empName"].value_counts()

Amazon                    2494
Oracle                    1064
Dell Technologies          875
Hays                       817
Citi                       620
                          ...
Lobby (Mexico)               1
Raygun (NZ)                  1
Pharmacists Mutual           1
Shared Health (Canada)       1
Encore Personnel             1
Name: gaTrackerData.empName, Length: 23459, dtype: int64

In [8]:
# Identify frequency values - employer name
glassdoor_df["gaTrackerData.empSize"].value_counts()

10000--1      48801
1001-5000     20852
51-200        18202
1-50          17905
201-500       12135
-1-0          10532
501-1000       9371
5001-10000     9283
Name: gaTrackerData.empSize, dtype: int64

In [9]:
# Identify frequency values - data category?
glassdoor_df["gaTrackerData.category"].value_counts()

-1        129088
 0          7047
 10007      3487
 10132      3431
 10111      2369
           ...
 20094         1
 20102         1
 20080         1
 20061         1
 10061         1
Name: gaTrackerData.category, Length: 266, dtype: int64

In [10]:
# Identify frequency values - data category?
glassdoor_df["gaTrackerData.industry"].value_counts()

Computer Hardware & Software               13971
IT Services                                11544
Internet                                    9292
Staffing & Outsourcing                      8596
Enterprise Software & Network Solutions     8242
                                           ...
Self-Storage Services                          2
Talent & Modeling Agencies                     2
Timber Operations                              2
Parking Lots & Garages                         2
Auctions & Galleries                           1
Name: gaTrackerData.industry, Length: 137, dtype: int64

In [11]:
# Identify frequency values - data category?
glassdoor_df["gaTrackerData.jobTitle"].value_counts()

Project Manager                                                   4340
Software Engineer                                                 3250
Business Analyst                                                  2429
Product Manager                                                   2125
Data Scientist                                                    1955
                                                                  ...
Corporate Governance Data Analyst                                    1
Localization Manager                                                 1
Senior Analyst â€“ Business Intelligence                               1
Iphone Software developer                                            1
Scientist, Formulation Process Development - Lexington, MA, US       1
Name: gaTrackerData.jobTitle, Length: 66214, dtype: int64

In [12]:
 # Check for null values
glassdoor_df.isnull()

,benefits.benefitRatingDecimal,benefits.comments,benefits.highlights,benefits.numRatings,benefits.employerSummary,breadCrumbs,gaTrackerData.category,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,...,salary.currency.displayName,salary.currency.id,salary.currency.name,salary.currency.negativeTemplate,salary.currency.new,salary.currency.positiveTemplate,salary.currency.symbol,salary.lastSalaryDate,salary.salaries,wwfu
0,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True
1,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True
3,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True
4,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165285,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True
165286,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
165287,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True
165288,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True
165289,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True

In [13]:
 # Check duplicates
glassdoor_df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
165285    False
165286    False
165287    False
165288    False
165289    False
Length: 165290, dtype: bool

In [14]:
glassdoor_df.describe()

,benefits.benefitRatingDecimal,benefits.comments,benefits.highlights,benefits.numRatings,breadCrumbs,gaTrackerData.category,gaTrackerData.empId,gaTrackerData.industryId,gaTrackerData.jobId.long,gaTrackerData.jobId.int,...,reviews,salary.country.continent.id,salary.country.currency.defaultFractionDigits,salary.country.currency.id,salary.country.id,salary.country.population,salary.currency.defaultFractionDigits,salary.currency.id,salary.salaries,wwfu
count,165290.000000,165289.000000,165289.000000,165290.000000,165290.000000,165290.000000,1.652900e+05,165290.000000,1.650440e+05,2.460000e+02,...,165290.000000,76777.0,76777.0,76777.0,76777.0,76777.0,76777.0,76777.000000,147149.000000,18741.000000
mean,1.387690,82645.000000,82645.000000,17.650342,82645.500000,2476.188614,6.945812e+05,142681.566731,3.329226e+09,1.754135e+09,...,82645.500000,4.0,2.0,2.0,2.0,60363602.0,2.0,2.037238,73575.000000,9371.000000
std,1.826381,47714.968659,47714.968659,49.901598,47715.257335,6098.395811,8.862075e+05,90479.876651,1.167657e+08,3.473246e+08,...,47715.257335,0.0,0.0,0.0,0.0,0.0,0.0,1.292106,42478.401718,5410.205033
min,0.000000,1.000000,1.000000,0.000000,1.000000,-1.000000,0.000000e+00,0.000000,2.208549e+09,3.276949e+08,...,1.000000,4.0,2.0,2.0,2.0,60363602.0,2.0,1.000000,1.000000,1.000000
25%,0.000000,41323.000000,41323.000000,0.000000,41323.250000,-1.000000,5.632000e+03,0.000000,3.303018e+09,1.756631e+09,...,41323.250000,4.0,2.0,2.0,2.0,60363602.0,2.0,2.000000,36788.000000,4686.000000
50%,0.000000,82645.000000,82645.000000,0.000000,82645.500000,-1.000000,3.043920e+05,200048.000000,3.370946e+09,1.904030e+09,...,82645.500000,4.0,2.0,2.0,2.0,60363602.0,2.0,2.000000,73575.000000,9371.000000
75%,3.504717,123967.000000,123967.000000,6.000000,123967.750000,-1.000000,1.107358e+06,200063.000000,3.399873e+09,1.957060e+09,...,123967.750000,4.0,2.0,2.0,2.0,60363602.0,2.0,2.000000,110362.000000,14056.000000
max,5.000000,165289.000000,165289.000000,596.000000,165290.000000,30165.000000,3.102014e+06,200147.000000,3.412782e+09,2.022056e+09,...,165290.000000,4.0,2.0,2.0,2.0,60363602.0,2.0,47.000000,147149.000000,18741.000000

In [15]:
# got to https://www.kaggle.com/andresionek/data-jobs-listings-glassdoor?select=glassdoor.csv to see full description for each column

In [16]:
 # Drop unnecessary columns and rows to shrink data set
    #columns to drop and joins
    #drops
    #breadCrumbs - don't seem to need table
    #gaTrackerData.expired - don't seem to need table

    #joins
    #benefits.comments - ID to glassdoor_benefits_comments.csv table

In [17]:
# Explore job titles - column exploration
glassdoor_df["gaTrackerData.jobTitle"].value_counts()

Project Manager                                                   4340
Software Engineer                                                 3250
Business Analyst                                                  2429
Product Manager                                                   2125
Data Scientist                                                    1955
                                                                  ...
Corporate Governance Data Analyst                                    1
Localization Manager                                                 1
Senior Analyst â€“ Business Intelligence                               1
Iphone Software developer                                            1
Scientist, Formulation Process Development - Lexington, MA, US       1
Name: gaTrackerData.jobTitle, Length: 66214, dtype: int64

In [18]:
# Explore job titles - column exploration
glassdoor_df["header.jobTitle"].value_counts()

Project Manager                                                   4340
Software Engineer                                                 3250
Business Analyst                                                  2429
Product Manager                                                   2125
Data Scientist                                                    1955
                                                                  ...
Corporate Governance Data Analyst                                    1
Localization Manager                                                 1
Senior Analyst â€“ Business Intelligence                               1
Iphone Software developer                                            1
Scientist, Formulation Process Development - Lexington, MA, US       1
Name: header.jobTitle, Length: 66214, dtype: int64

In [19]:
# Explore job titles - column exploration
glassdoor_df["header.normalizedJobTitle"].value_counts()

data analyst                   1864
project manager                1856
business analyst               1752
data scientist                 1625
software engineer              1584
                               ...
principal engineer                1
junior management analyst         1
financial data analyst            1
electronics design engineer       1
nuclear engineer                  1
Name: header.normalizedJobTitle, Length: 2079, dtype: int64

In [20]:
# Explore countries - column exploration
glassdoor_df["map.country"].value_counts()

BE                              4587
IN                              4147
NL                              4134
DE                              3829
FR                              3640
                                ...
Georgia                            1
San JosÃ©, Costa Rica               1
ZM                                 1
Danmark                            1
Dubai - United Arab Emirates       1
Name: map.country, Length: 503, dtype: int64

In [21]:
# Explore countries - column exploration
glassdoor_df["rating.starRating"].value_counts()

-0.10    15184
 3.80    14606
 4.00    11077
 3.60     9971
 3.70     9575
         ...
 1.85        1
 4.64        1
 3.87        1
 2.69        1
 3.09        1
Name: rating.starRating, Length: 189, dtype: int64

In [22]:
# Load the salary data
salary_df=pd.read_csv('glassdoor_salary_salaries.csv')
salary_df

# Preview the salary data
salary_df.head()
#to analyze job score of job title by salary (normalized by currency or US/CAD only)

,id,index,salary.salaries.val.basePayCount,salary.salaries.val.jobTitle,salary.salaries.val.payPeriod,salary.salaries.val.salaryPercentileMap.payPercentile10,salary.salaries.val.salaryPercentileMap.payPercentile90,salary.salaries.val.salaryPercentileMap.payPercentile50,salary.salaries.val.salaryType
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0.0,9.0,Advanced Consultant,ANNUAL,32257.68,41971.34,38713.25,employer
2,2,1.0,7.0,Consultant,ANNUAL,28855.30,74022.00,38602.20,employer
3,2,2.0,7.0,Software Engineer,ANNUAL,30377.86,38750.00,35032.53,employer
4,2,3.0,4.0,Project Manager,ANNUAL,38254.70,48675.67,45636.77,employer

In [25]:
display(list(glassdoor_df.columns.values))

['benefits.benefitRatingDecimal',
 'benefits.comments',
 'benefits.highlights',
 'benefits.numRatings',
 'benefits.employerSummary',
 'breadCrumbs',
 'gaTrackerData.category',
 'gaTrackerData.empId',
 'gaTrackerData.empName',
 'gaTrackerData.empSize',
 'gaTrackerData.expired',
 'gaTrackerData.industry',
 'gaTrackerData.industryId',
 'gaTrackerData.jobId.long',
 'gaTrackerData.jobId.int',
 'gaTrackerData.jobTitle',
 'gaTrackerData.location',
 'gaTrackerData.locationId',
 'gaTrackerData.locationType',
 'gaTrackerData.pageRequestGuid.guid',
 'gaTrackerData.pageRequestGuid.guidValid',
 'gaTrackerData.pageRequestGuid.part1',
 'gaTrackerData.pageRequestGuid.part2',
 'gaTrackerData.sector',
 'gaTrackerData.sectorId',
 'gaTrackerData.profileConversionTrackingParams.trackingCAT',
 'gaTrackerData.profileConversionTrackingParams.trackingSRC',
 'gaTrackerData.profileConversionTrackingParams.trackingXSP',
 'gaTrackerData.jobViewTrackingResult.jobViewDisplayTimeMillis',
 'gaTrackerData.jobViewTrackingResult.requiresTracking',
 'gaTrackerData.jobViewTrackingResult.trackingUrl',
 'header.adOrderId',
 'header.advertiserType',
 'header.applicationId',
 'header.applyButtonDisabled',
 'header.applyUrl',
 'header.blur',
 'header.coverPhoto',
 'header.easyApply',
 'header.employerId',
 'header.employerName',
 'header.expired',
 'header.gocId',
 'header.hideCEOInfo',
 'header.jobTitle',
 'header.locId',
 'header.location',
 'header.locationType',
 'header.logo',
 'header.logo2x',
 'header.organic',
 'header.overviewUrl',
 'header.posted',
 'header.rating',
 'header.saved',
 'header.savedJobId',
 'header.sgocId',
 'header.sponsored',
 'header.userAdmin',
 'header.uxApplyType',
 'header.featuredVideo',
 'header.normalizedJobTitle',
 'header.urgencyLabel',
 'header.urgencyLabelForMessage',
 'header.urgencyMessage',
 'header.needsCommission',
 'header.payHigh',
 'header.payLow',
 'header.payMed',
 'header.payPeriod',
 'header.salaryHigh',
 'header.salaryLow',
 'header.salarySource',
 'job.description',
 'job.discoverDate',
 'job.eolHashCode',
 'job.importConfigId',
 'job.jobReqId.long',
 'job.jobReqId.int',
 'job.jobSource',
 'job.jobTitleId',
 'job.listingId.long',
 'job.listingId.int',
 'map.country',
 'map.employerName',
 'map.lat',
 'map.lng',
 'map.location',
 'map.address',
 'map.postalCode',
 'overview.allBenefitsLink',
 'overview.allPhotosLink',
 'overview.allReviewsLink',
 'overview.allSalariesLink',
 'overview.foundedYear',
 'overview.hq',
 'overview.industry',
 'overview.industryId',
 'overview.revenue',
 'overview.sector',
 'overview.sectorId',
 'overview.size',
 'overview.stock',
 'overview.type',
 'overview.description',
 'overview.mission',
 'overview.website',
 'overview.allVideosLink',
 'overview.competitors',
 'overview.companyVideo',
 'photos',
 'rating.ceo.name',
 'rating.ceo.photo',
 'rating.ceo.photo2x',
 'rating.ceo.ratingsCount',
 'rating.ceoApproval',
 'rating.recommendToFriend',
 'rating.starRating',
 'reviews',
 'salary.country.cc3LetterISO',
 'salary.country.ccISO',
 'salary.country.continent.continentCode',
 'salary.country.continent.continentName',
 'salary.country.continent.id',
 'salary.country.continent.new',
 'salary.country.countryFIPS',
 'salary.country.currency.currencyCode',
 'salary.country.currency.defaultFractionDigits',
 'salary.country.currency.displayName',
 'salary.country.currency.id',
 'salary.country.currency.name',
 'salary.country.currency.negativeTemplate',
 'salary.country.currency.new',
 'salary.country.currency.positiveTemplate',
 'salary.country.currency.symbol',
 'salary.country.currencyCode',
 'salary.country.defaultLocale',
 'salary.country.defaultName',
 'salary.country.defaultShortName',
 'salary.country.employerSolutionsCountry',
 'salary.country.id',
 'salary.country.longName',
 'salary.country.major',
 'salary.country.name',
 'salary.country.new',
 'salary.country.population',
 'salary.country.shortName',
 'salary.country.tld',
 'salary.country.type',
 'salary.country.uniqueName',
 'salary.country.usaCentricDisplayName',
 'salary.currency.currencyCode',
 'salary.currency.defaultFractionDigits',
 'salary.currency.displayName',
 'salary.currency.id',
 'salary.currency.name',
 'salary.currency.negativeTemplate',
 'salary.currency.new',
 'salary.currency.positiveTemplate',
 'salary.currency.symbol',
 'salary.lastSalaryDate',
 'salary.salaries',
 'wwfu']

In [36]:
jobtitles = glassdoor_df['header.normalizedJobTitle'].unique()
jobtitles

In [37]:
jobtitle_series = pd.Series(jobtitles)
jobtitle_series

In [38]:
jobtitle_series.to_csv('jobstitles.csv')

In [31]:
glassdoor_df['header.normalizedJobTitle'].nunique()

In [33]:
groupedby_jobtitle = glassdoor_df.groupby('header.normalizedJobTitle')
groupedby_jobtitle

In [23]:
# Load the review data
reviews_df=pd.read_csv('glassdoor_reviews.csv')
reviews_df

# Preview the data
reviews_df.head()
#to analyze and model sentiment features of job reviews that are predicitive of job score

,id,index,reviews.val.cons,reviews.val.date,reviews.val.featured,reviews.val.helpfulCount,reviews.val.id,reviews.val.pros,reviews.val.publishedOn,reviews.val.publisher,...,reviews.val.reviewerJobTitle,reviews.val.reviewerLocation,reviews.val.reviewerStatus,reviews.val.summaryPoints.ceoApproval,reviews.val.summaryPoints.outlook,reviews.val.summaryPoints.recommend,reviews.val.title,reviews.val.adviceToManagement,reviews.val.companyResponse,reviews.val.reviewResponses
0,44001,0.0,Still not big enough in market place,"Oct 20, 2010",False,0.0,689142.0,"Great brand , Good leadership , Clear business...","Oct 20, 2010",Director,...,Director,Tokyo (Japan),Former Employee,1.0,0.0,1.0,American Express Japan - Excellent place to work,None,NaN,NaN
1,44002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,44003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,44004,0.0,Nothing important on my point of view.,4 weeks ago,False,0.0,29659857.0,"Learn new technologies, helpful people, good m...",4 weeks ago,Software Engineer(Internship),...,Software Engineer(Internship),Alexandria (Egypt),Former Employee,1.0,1.0,1.0,one of the best places to be intern in,NaN,NaN,NaN
4,44004,1.0,Alot of friends working together which isn't v...,"May 29, 2019",False,0.0,26381884.0,Very good opportunities to learn technologies,"May 29, 2019",Network Engineer,...,Network Engineer,Alexandria (Egypt),Current Employee,1.0,1.0,1.0,Very Good Company,NaN,NaN,NaN

In [24]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422180 entries, 0 to 422179
Data columns (total 28 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   id                                             422180 non-null  int64
 1   index                                          343221 non-null  float64
 2   reviews.val.cons                               343214 non-null  object
 3   reviews.val.date                               343221 non-null  object
 4   reviews.val.featured                           343221 non-null  object
 5   reviews.val.helpfulCount                       343221 non-null  float64
 6   reviews.val.id                                 343221 non-null  float64
 7   reviews.val.pros                               343221 non-null  object
 8   reviews.val.publishedOn                        343221 non-null  object
 9   reviews.val.publisher                          343083 non-null  object
 10  reviews.val.reviewRatings.careerOpportunities  343221 non-null  float64
 11  reviews.val.reviewRatings.compBenefits         343221 non-null  float64
 12  reviews.val.reviewRatings.cultureValues        343221 non-null  float64
 13  reviews.val.reviewRatings.overall              343221 non-null  float64
 14  reviews.val.reviewRatings.seniorManagement     343221 non-null  float64
 15  reviews.val.reviewRatings.worklifeBalance      343221 non-null  float64
 16  reviews.val.reviewerDuration                   317178 non-null  object
 17  reviews.val.reviewerInformation                343221 non-null  object
 18  reviews.val.reviewerJobTitle                   289683 non-null  object
 19  reviews.val.reviewerLocation                   343191 non-null  object
 20  reviews.val.reviewerStatus                     343221 non-null  object
 21  reviews.val.summaryPoints.ceoApproval          343221 non-null  float64
 22  reviews.val.summaryPoints.outlook              343221 non-null  float64
 23  reviews.val.summaryPoints.recommend            343221 non-null  float64
 24  reviews.val.title                              342899 non-null  object
 25  reviews.val.adviceToManagement                 162008 non-null  object
 26  reviews.val.companyResponse                    25267 non-null   object
 27  reviews.val.reviewResponses                    25267 non-null   float64
dtypes: float64(13), int64(1), object(14)
memory usage: 90.2+ MB