In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import matplotlib
from wordcloud import WordCloud
from pathlib import Path

In [2]:
# Load the full set of data
glassdoor_df=pd.read_csv('glassdoor.csv')
glassdoor_df

# Preview the salary data
glassdoor_df.head()

,benefits.benefitRatingDecimal,benefits.comments,benefits.highlights,benefits.numRatings,benefits.employerSummary,breadCrumbs,gaTrackerData.category,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,...,salary.currency.displayName,salary.currency.id,salary.currency.name,salary.currency.negativeTemplate,salary.currency.new,salary.currency.positiveTemplate,salary.currency.symbol,salary.lastSalaryDate,salary.salaries,wwfu
0,0.0,2801.0,2801.0,0,NaN,2801,-1,2183810,Modus Group,501-1000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2483.0,NaN
1,4.0,2802.0,2802.0,3,NaN,2802,-1,10416,Boehringer Ingelheim,10000--1,...,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-10-14T06:05:58,2484.0,NaN
2,0.0,2803.0,2803.0,0,NaN,2803,-1,1043373,Immobiliare.it,201-500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2485.0,NaN
3,0.0,2804.0,2804.0,0,NaN,2804,-1,2226886,Codup,1-50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2486.0,NaN
4,0.0,2805.0,2805.0,0,NaN,2805,-1,851555,Markelytics Solutions,201-500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2487.0,NaN

In [3]:
#columns to drop
drop_columns = ['benefits.highlights',
    'benefits.numRatings',
    'breadCrumbs',
    'gaTrackerData.expired',
    'gaTrackerData.jobId.int',
    'gaTrackerData.jobId.long',
    'gaTrackerData.jobViewTrackingResult.jobViewDisplayTimeMillis',
    'gaTrackerData.jobViewTrackingResult.requiresTracking',
    'gaTrackerData.jobViewTrackingResult.trackingUrl',
    'gaTrackerData.locationType',
    'gaTrackerData.pageRequestGuid.guid',
    'gaTrackerData.pageRequestGuid.guidValid',
    'gaTrackerData.pageRequestGuid.part1',
    'gaTrackerData.pageRequestGuid.part2',
    'gaTrackerData.profileConversionTrackingParams.trackingCAT',
    'gaTrackerData.profileConversionTrackingParams.trackingSRC',
    'gaTrackerData.profileConversionTrackingParams.trackingXSP',
    'header.adOrderId',
    'header.advertiserType',
    'header.applyButtonDisabled',
    'header.applyUrl',
    'header.blur',
    'header.coverPhoto',
    'header.easyApply',
    'header.expired',
    'header.featuredVideo',
    'header.gocId',
    'header.locationType',
    'header.logo',
    'header.logo2x',
    'header.needsCommission',
    'header.organic',
    'header.overviewUrl',
    'header.payPeriod',
    'header.posted',
    'header.salarySource',
    'header.saved',
    'header.sgocId',
    'header.sponsored',
    'header.urgencyLabel',
    'header.urgencyLabelForMessage',
    'header.urgencyMessage',
    'header.userAdmin',
    'header.uxApplyType',
    'job.description',
    'job.discoverDate',
    'job.eolHashCode',
    'job.importConfigId',
    'job.jobSource',
    'map.address',
    'map.lat',
    'map.lng',
    'map.location',
    'map.postalCode',
    'overview.allBenefitsLink',
    'overview.allPhotosLink',
    'overview.allReviewsLink',
    'overview.allSalariesLink',
    'overview.allVideosLink',
    'overview.companyVideo',
    'overview.competitors',
    'overview.description',
    'overview.mission',
    'overview.website',
    'photos',
    'rating.ceo.photo',
    'rating.ceo.photo2x',
    'salary.country.cc3LetterISO',
    'salary.country.ccISO',
    'salary.country.continent.continentCode',
    'salary.country.continent.continentName',
    'salary.country.continent.new',
    'salary.country.countryFIPS',
    'salary.country.currency.defaultFractionDigits',
    'salary.country.currency.name',
    'salary.country.currency.negativeTemplate',
    'salary.country.currency.new',
    'salary.country.currency.positiveTemplate',
    'salary.country.currency.symbol',
    'salary.country.defaultLocale',
    'salary.country.defaultName',
    'salary.country.defaultShortName',
    'salary.country.employerSolutionsCountry',
    'salary.country.major',
    'salary.country.name',
    'salary.country.new',
    'salary.country.population',
    'salary.country.shortName',
    'salary.country.tld',
    'salary.country.type',
    'salary.country.usaCentricDisplayName',
    'salary.currency.defaultFractionDigits',
    'salary.currency.displayName',
    'salary.currency.negativeTemplate',
    'salary.currency.new',
    'salary.currency.positiveTemplate',
    'salary.currency.symbol',
    'wwfu'
    ]
drop_columns

['benefits.highlights',
 'benefits.numRatings',
 'breadCrumbs',
 'gaTrackerData.expired',
 'gaTrackerData.jobId.int',
 'gaTrackerData.jobId.long',
 'gaTrackerData.jobViewTrackingResult.jobViewDisplayTimeMillis',
 'gaTrackerData.jobViewTrackingResult.requiresTracking',
 'gaTrackerData.jobViewTrackingResult.trackingUrl',
 'gaTrackerData.locationType',
 'gaTrackerData.pageRequestGuid.guid',
 'gaTrackerData.pageRequestGuid.guidValid',
 'gaTrackerData.pageRequestGuid.part1',
 'gaTrackerData.pageRequestGuid.part2',
 'gaTrackerData.profileConversionTrackingParams.trackingCAT',
 'gaTrackerData.profileConversionTrackingParams.trackingSRC',
 'gaTrackerData.profileConversionTrackingParams.trackingXSP',
 'header.adOrderId',
 'header.advertiserType',
 'header.applyButtonDisabled',
 'header.applyUrl',
 'header.blur',
 'header.coverPhoto',
 'header.easyApply',
 'header.expired',
 'header.featuredVideo',
 'header.gocId',
 'header.locationType',
 'header.logo',
 'header.logo2x',
 'header.needsCommission',
 'header.organic',
 'header.overviewUrl',
 'header.payPeriod',
 'header.posted',
 'header.salarySource',
 'header.saved',
 'header.sgocId',
 'header.sponsored',
 'header.urgencyLabel',
 'header.urgencyLabelForMessage',
 'header.urgencyMessage',
 'header.userAdmin',
 'header.uxApplyType',
 'job.description',
 'job.discoverDate',
 'job.eolHashCode',
 'job.importConfigId',
 'job.jobSource',
 'map.address',
 'map.lat',
 'map.lng',
 'map.location',
 'map.postalCode',
 'overview.allBenefitsLink',
 'overview.allPhotosLink',
 'overview.allReviewsLink',
 'overview.allSalariesLink',
 'overview.allVideosLink',
 'overview.companyVideo',
 'overview.competitors',
 'overview.description',
 'overview.mission',
 'overview.website',
 'photos',
 'rating.ceo.photo',
 'rating.ceo.photo2x',
 'salary.country.cc3LetterISO',
 'salary.country.ccISO',
 'salary.country.continent.continentCode',
 'salary.country.continent.continentName',
 'salary.country.continent.new',
 'salary.country.countryFIPS',
 'salary.country.currency.defaultFractionDigits',
 'salary.country.currency.name',
 'salary.country.currency.negativeTemplate',
 'salary.country.currency.new',
 'salary.country.currency.positiveTemplate',
 'salary.country.currency.symbol',
 'salary.country.defaultLocale',
 'salary.country.defaultName',
 'salary.country.defaultShortName',
 'salary.country.employerSolutionsCountry',
 'salary.country.major',
 'salary.country.name',
 'salary.country.new',
 'salary.country.population',
 'salary.country.shortName',
 'salary.country.tld',
 'salary.country.type',
 'salary.country.usaCentricDisplayName',
 'salary.currency.defaultFractionDigits',
 'salary.currency.displayName',
 'salary.currency.negativeTemplate',
 'salary.currency.new',
 'salary.currency.positiveTemplate',
 'salary.currency.symbol',
 'wwfu']

In [4]:
glassdoor_df.drop(
    labels=drop_columns,
    axis=1,
    index=None,
    columns=None,
    level=None,
    inplace=True,
    errors='raise',
)
glassdoor_df.head()

,benefits.benefitRatingDecimal,benefits.comments,benefits.employerSummary,gaTrackerData.category,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,gaTrackerData.industry,gaTrackerData.industryId,gaTrackerData.jobTitle,...,salary.country.currency.id,salary.country.currencyCode,salary.country.id,salary.country.longName,salary.country.uniqueName,salary.currency.currencyCode,salary.currency.id,salary.currency.name,salary.lastSalaryDate,salary.salaries
0,0.0,2801.0,NaN,-1,2183810,Modus Group,501-1000,Investment Banking & Asset Management,200053,Biogas Project Development Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2483.0
1,4.0,2802.0,NaN,-1,10416,Boehringer Ingelheim,10000--1,Biotech & Pharmaceuticals,200021,Quality Manager - Boehringer Ingelheim Healthc...,...,2.0,GBP,2.0,United Kingdom,United Kingdom,GBP,2.0,United Kingdom Pound,2019-10-14T06:05:58,2484.0
2,0.0,2803.0,NaN,-1,1043373,Immobiliare.it,201-500,NaN,0,"Senior Software Engineer (PHP, Elixir, Python)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2485.0
3,0.0,2804.0,NaN,-1,2226886,Codup,1-50,NaN,0,Senior SQA Engineer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2486.0
4,0.0,2805.0,NaN,-1,851555,Markelytics Solutions,201-500,Consulting,200028,Research Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2487.0

In [5]:
glassdoor_df['header.normalizedJobTitle'] = glassdoor_df['header.normalizedJobTitle'].str.replace(r"[\'']", r"|")
glassdoor_df.head()

,benefits.benefitRatingDecimal,benefits.comments,benefits.employerSummary,gaTrackerData.category,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,gaTrackerData.industry,gaTrackerData.industryId,gaTrackerData.jobTitle,...,salary.country.currency.id,salary.country.currencyCode,salary.country.id,salary.country.longName,salary.country.uniqueName,salary.currency.currencyCode,salary.currency.id,salary.currency.name,salary.lastSalaryDate,salary.salaries
0,0.0,2801.0,NaN,-1,2183810,Modus Group,501-1000,Investment Banking & Asset Management,200053,Biogas Project Development Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2483.0
1,4.0,2802.0,NaN,-1,10416,Boehringer Ingelheim,10000--1,Biotech & Pharmaceuticals,200021,Quality Manager - Boehringer Ingelheim Healthc...,...,2.0,GBP,2.0,United Kingdom,United Kingdom,GBP,2.0,United Kingdom Pound,2019-10-14T06:05:58,2484.0
2,0.0,2803.0,NaN,-1,1043373,Immobiliare.it,201-500,NaN,0,"Senior Software Engineer (PHP, Elixir, Python)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2485.0
3,0.0,2804.0,NaN,-1,2226886,Codup,1-50,NaN,0,Senior SQA Engineer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2486.0
4,0.0,2805.0,NaN,-1,851555,Markelytics Solutions,201-500,Consulting,200028,Research Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2487.0

In [6]:
jobtitles = glassdoor_df['header.normalizedJobTitle'].unique()
jobtitles

array([nan, 'program manager', 'analyste d|affaires', ...,
       'desktop engineer', 'qa test engineer',
       'senior search engine evaluator'], dtype=object)

In [7]:
jobtitle_series = pd.Series(jobtitles)
jobtitle_series

0                                  NaN
1                      program manager
2                  analyste d|affaires
3                       data scientist
4            marketing produit Manager
                     ...
2075       electronics design engineer
2076    experienced software developer
2077                  desktop engineer
2078                  qa test engineer
2079    senior search engine evaluator
Length: 2080, dtype: object

In [8]:
jobtitle_series.to_csv('jobstitlesfixed.csv')

In [24]:
#job titles to drop
keep_titles = ['Assistant data analyst',
                'Assistant data engineer',
                'Assistant data scientist',
                'associate business analyst',
                'associate data analyst',
                'associate data engineer intern',
                'associate data engineer',
                'associate data scientist',
                'bi analyst IV',
                'bi analyst',
                'business analyst consultant',
                'business analyst I',
                'business analyst Intern',
                'business analyst manager',
                'business analyst Trainee',
                'business analyst',
                'business data analyst',
                'Chief data scientist',
                'coop data analyst',
                'coop data engineer',
                'coop data scientist',
                'coop it business analyst',
                'data analyst intern',
                'data analyst manager',
                'data analyst',
                'data engineer intern',
                'data engineer',
                'data scientist director',
                'data scientist I',
                'data scientist intern',
                'data scientist Leader',
                'data scientist Manager',
                'data scientist',
                'financial data analyst',
                'Freelance data analyst',
                'Freelance data engineer',
                'Freelance data scientist',
                'Freelance Junior data engineer',
                'Freelance Lead data engineer',
                'Freelance Lead data scientist',
                'Graduate business analyst',
                'graduate data analyst',
                'graduate data engineer',
                'it business analyst intern',
                'it business analyst Manager',
                'it business analyst Trainee',
                'it business analyst',
                'Junior bi analyst',
                'junior business analyst intern',
                'Junior business analyst',
                'junior data analyst',
                'Junior data engineer',
                'junior data scientist intern',
                'Junior data scientist',
                'Junior it business analyst',
                'lead bi analyst director',
                'lead bi analyst',
                'lead business analyst',
                'lead data analyst',
                'lead data engineer',
                'lead data scientist',
                'lead it business analyst',
                'new grad data engineer',
                'PhD data scientist',
                'principal business analyst',
                'principal data analyst',
                'principal data engineer',
                'principal data scientist',
                'sap business analyst',
                'Senior bi analyst',
                'senior business analyst consultant',
                'senior business analyst manager',
                'senior business analyst',
                'senior business data analyst',
                'senior data analyst',
                'senior data engineer',
                'senior data scientist manager',
                'senior data scientist',
                'senior it business analyst',
                'Senior Manager business analyst',
                'senior sap business analyst',
                'senior staff data scientist',
                'staff data engineer'
                ]

In [19]:
data_jobs_df = glassdoor_df.set_index("header.normalizedJobTitle")
data_jobs_df.head()

In [22]:
data_jobs_df = data_jobs_df.loc[keep_titles]
data_jobs_df

In [23]:
data_jobs_df = data_jobs_df.reset_index()
data_jobs_df.head()

,header.normalizedJobTitle,benefits.benefitRatingDecimal,benefits.comments,benefits.employerSummary,gaTrackerData.category,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,gaTrackerData.industry,gaTrackerData.industryId,...,salary.country.currency.id,salary.country.currencyCode,salary.country.id,salary.country.longName,salary.country.uniqueName,salary.currency.currencyCode,salary.currency.id,salary.currency.name,salary.lastSalaryDate,salary.salaries
0,Assistant data analyst,0.000000,8728.0,NaN,20007,10349,Galeries Lafayette,10000--1,"Department, Clothing, & Shoe Stores",200105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7819.0
1,Assistant data analyst,3.636364,54737.0,NaN,20007,3120,Saint-Gobain,10000--1,Industrial Manufacturing,200073,...,2.0,GBP,2.0,United Kingdom,United Kingdom,GBP,2.0,United Kingdom Pound,2019-10-04T21:57:41,48816.0
2,Assistant data analyst,0.000000,57821.0,NaN,20007,10349,Galeries Lafayette,10000--1,"Department, Clothing, & Shoe Stores",200105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51564.0
3,Assistant data analyst,4.076923,109264.0,NaN,20007,4075,Orange,10000--1,Telecommunications Services,200122,...,2.0,GBP,2.0,United Kingdom,United Kingdom,GBP,2.0,United Kingdom Pound,2019-10-03T22:50:15,97305.0
4,Assistant data analyst,4.076923,156087.0,NaN,20007,4075,Orange,10000--1,Telecommunications Services,200122,...,2.0,GBP,2.0,United Kingdom,United Kingdom,GBP,2.0,United Kingdom Pound,2019-10-03T22:50:15,138911.0

In [25]:
data_jobs_df.to_csv('glassdoor_data_jobs.csv')